#################
## Photobooth
#################

%Results/Org Folders
SonyPhotobooth/resultsfine/*
SonyPhotobooth/results/*
SonyPhotobooth/org/*

#Exceptions
!SonyPhotobooth/resultsfine/gitkeep.gitignore
!SonyPhotobooth/results/gitkeep.gitignore
!SonyPhotobooth/org/gitkeep.gitignore

SonyPhotobooth/img/Designs/*
SonyAPIInformation/*
SonyPhotobooth/Tasks/*
old_version/*
alte
__pycache__/*

#Files
*.pyc
.pydevproject
.project
camcon_test.py
tasks.txt
!.gitignore